/**
 * AudioTheme (plugin)
 * @link https://audiotheme.com/
 * -----------------------------------------------------------------------------
 */


/**
 * Content
 * -----------------------------------------------------------------------------
 */

.featured-content-hero.audiotheme_video .entry-thumbnail a {
	padding-top: 56.4%;
}


/* Gig
------------------------------------------------------------------------------*/

.single-gig .gig-title-date {
	font-size: 1.61111111em;
}

.single-gig .entry-title,
.single-gig .gig-date {
	background: #1f1f1f;
	color: #fff;
	display: block;
	font-size: 1em;
	line-height: 1.3;
	margin: 0 0 1px;
	padding: 0.61538462em 0.73076923em;
}

.single-gig .gig-map {
	position: relative;
}

.single-gig .gig-map-link {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 300px;
}

.single-gig .gig-permalink {
	display: none;
}

.single-gig .primary-area .venue-location {
	font-size: 1.61111111em;
	font-weight: 400;
	letter-spacing: 0.025em;
	line-height: 1.37931034;
	margin: 0 0 0.34482759em;
	padding-top: 1.37931034em;
	text-transform: none;
}

.single-gig .primary-area .venue-name {
	color: rgba(0, 0, 0, 0.73);
	font-size: 0.88888889em;
	font-weight: 400;
	letter-spacing: 0.025em;
	line-height: 2.5;
	margin: 0 0 1.75em;
}

.single-gig .venue-details,
.single-gig .gig-meta,
.single-gig .gig-description {
	font-family: "Raleway", sans-serif;
}

.single-gig .entry-content {
	clear: both;
}

.single-gig .secondary-area {
	padding-top: 1.44444444em;
}

.single-gig .secondary-area .country-name,
.single-gig .secondary-area .venue-address .sep {
	display: inline;
}

.single-gig .venue-meta {
	margin-bottom: 1.77777778em;
}

.single-gig .venue-meta dt {
	color: rgba(0, 0, 0, 0.88);
	margin-top: 1em;
}

.single-gig .venue-meta dd {
	margin-bottom: 0;
}

.single-gig .venue-meta .venue-name {
	display: none;
}

.gig-meta {
	border-bottom: 1px solid rgba(0, 0, 0, 0.88);
	border-top: 1px solid rgba(0, 0, 0, 0.88);
	margin: 0 0 1.77777778em;
	padding: 0.72222222em 0;
}

.gig-meta a {
	color: rgba(0, 0, 0, 0.73);
	text-decoration: none;
}

.gig-meta a:hover {
	color: rgba(0, 0, 0, 0.88);
}

.gig-meta dd {
	display: inline;
}

.gig-meta .gig-tickets {
	float: right;
}

.gig-meta .gig-tickets span {
	display: inline-block;
}

.gig-meta .gig-tickets-link {
	border-left: 1px solid rgba(0, 0, 0, 0.88);
	font-size: 0.88888889em;
	font-weight: 700;
	margin-left: 0.3125em;
	padding-left: 0.5em;
}

.gig-meta .gig-tickets-link a {
	background: url("assets/images/tickets.png") no-repeat left center;
	padding-left: 1.6875em;
}

@media (min-width: 600px) {
	.single-gig .has-venue .primary-area {
		background: #fff;
		margin-top: -3.88888889em;
		position: relative;
	}

	.single-gig .has-venue .gig-title-date {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.single-gig .has-venue .entry-title,
	.single-gig .has-venue .gig-date {
		display: inline-block;
		float: left;
		margin-bottom: 0.19230769em;
	}
}


/*  Gigs
------------------------------------------------------------------------------*/

.archive-gig {
	color: rgba(0, 0, 0, 0.73);
	font-family: "Raleway", sans-serif;
	list-style-type: none;
}

.archive-gig .archive-intro {
	border-bottom: 0 solid;
	margin-bottom: 0;
}

.gig-card {
	border-top: 1px solid rgba(0, 0, 0, 0.18);
	clear: both;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.625em;
	margin: 0;
	padding: 0.8125em 1em;
	position: relative;
}

.gig-card:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.gig-card:hover,
.gig-card:focus {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);
}

.gig-card:hover .gig-permalink,
.gig-card:focus .gig-permalink {
	background-color: rgba(0, 0, 0, 0.88);
	border-color: rgba(0, 0, 0, 0.88);
	color: #fff;
}

.gig-card dt {
	margin: 0;
	padding: 0 2.5em;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.gig-card dd {
	margin: 0;
}

.gig-card .gig-name {
	display: none;
}

.gig-card .gig-note {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.88888889em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	padding-top: 0.5em;
}

.gig-card .gig-note > :last-child {
	margin-bottom: 0;
}

.gig-card .gig-permalink {
	border: 1px solid rgba(0, 0, 0, 0.18);
	color: rgba(0, 0, 0, 0.18);
	display: block;
	font-family: "Arial", sans-serif;
	font-size: 1.625em;
	font-weight: 400;
	height: 1em;
	line-height: 1;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 50%;
	right: 0;
	text-align: center;
	text-decoration: none;
	width: 1em;
}

.gig-card .gig-permalink:hover {
	text-decoration: none;
}

.gig-card .gig-title .sep,
.gig-card .gig-title .country-name {
	display: none;
}

.gig-card .gig-title,
.gig-card .gig-venue {
	display: inline-block;
}

.gig-card .country-name {
	font-weight: 400;
}

.gig-card .date {
	color: rgba(0, 0, 0, 0.88);
	position: absolute;
	top: 0.75em;
	left: 0;
	text-align: center;
	text-transform: uppercase;
}

.gig-card .date .month,
.gig-card .date .day {
	display: block;
	float: left;
	position: relative;
}

.gig-card .date .month {
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 2;
	top: 0.125em;
	width: 4.25em;
}

.gig-card .date .day {
	clear: both;
	font-size: 1.625em;
	font-weight: 600;
	line-height: 1;
	top: -0.11538462em;
	width: 2.1em;
}

.gig-card .location {
	margin: 0;
	overflow: hidden;
	padding: 0 2.5em;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.gig-card .venue-address,
.gig-card .venue-phone {
	display: none;
}

@media (min-width: 801px) {
	.content-area .gig-card,
	.widget-area--home .gig-card {
		padding-bottom: 1em;
		padding-top: 1em;
	}

	.content-area .gig-card dt,
	.widget-area--home .gig-card dt {
		padding-left: 7.55555556em;
	}

	.content-area .gig-card .gig-note,
	.widget-area--home .gig-card .gig-note {
		padding-left: 8.5em;
	}

	.content-area .gig-card .gig-permalink,
	.widget-area--home .gig-card .gig-permalink {
		margin-top: -0.5em;
	}

	.content-area .gig-card .date,
	.widget-area--home .gig-card .date {
		top: 1.125em;
	}

	.content-area .gig-card .date .day,
	.widget-area--home .gig-card .date .day {
		clear: none;
		width: auto;
	}

	.content-area .gig-card .location,
	.widget-area--home .gig-card .location {
		overflow: visible;
		padding: 0 0.875em;
		position: absolute;
		top: 1.125em;
		left: 50%;
		width: auto;
	}

	.content-area .gig-card .location:hover,
	.widget-area--home .gig-card .location:hover {
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.18);
		margin-left: -1px;
		padding-bottom: 0.625em;
		padding-top: 0.625em;
		top: 0.4375em;
		z-index: 1;
	}

	.content-area .gig-card .location:hover .venue-address,
	.widget-area--home .gig-card .location:hover .venue-address {
		margin-top: 0.38461538em;
	}

	.content-area .gig-card .location:hover .venue-address,
	.widget-area--home .gig-card .location:hover .venue-address,
	.content-area .gig-card .location:hover .venue-phone,
	.widget-area--home .gig-card .location:hover .venue-phone {
		display: block;
		line-height: 1.61538462em;
	}

	.content-area .gig-card .venue-address,
	.widget-area--home .gig-card .venue-address {
		font-size: 0.8125em;
	}
}

@media (min-width: 1100px) {
	.content-area .gig-card {
		margin: 0;
	}
}


/**
 * Media
 * -----------------------------------------------------------------------------
 */


/* Tracklist
------------------------------------------------------------------------------*/

.tracklist-section {
	margin: 0 -10px;
}

.tracklist-section audio,
.tracklist-section .mejs-container {
	display: none;
}

.tracklist {
	border-top: 1px solid rgba(0, 0, 0, 0.18);
	counter-reset: li;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: 0.025em;
	margin: 1.75em 0 3.5em;
}

.tracklist a {
	color: rgba(0, 0, 0, 0.88);
	text-decoration: none;
}

.tracklist a:hover {
	text-decoration: underline;
}

.tracklist .track {
	border-bottom: 1px solid rgba(0, 0, 0, 0.18);
	display: block;
	padding: 0.625em 1.25em;
	position: relative;
	-webkit-transition: all ease-in-out 0.25s;
	transition: all ease-in-out 0.25s;
}

.tracklist .track:before {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	content: counter(li);
	counter-increment: li;
	display: block;
	float: left;
	height: 1.8125em;
	margin-right: 1.25em;
	text-align: center;
	width: 1em;
}

.tracklist .track-progress,
.tracklist .track-seek-bar,
.tracklist .track-play-bar {
	height: 0.3125em;
}

.tracklist .track-progress {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.tracklist .track-seek-bar {
	width: 100%;
}

.tracklist .track-play-bar {
	background-color: #1f1f1f;
	width: 0;
}

.tracklist .track-meta {
	display: none;
	float: right;
	margin-right: 0.3125em;
}

.tracklist .track-current-time,
.tracklist .track-duration,
.tracklist .track-sep-duration {
	display: none;
}

.tracklist .track-download-link {
	color: rgba(0, 0, 0, 0.18);
	position: absolute;
	top: 0.625em;
	right: 0;
	text-align: center;
	width: 1.5em;
}

.tracklist .track-download-link:before {
	content: "\f429";
	display: block;
	font-size: 1em;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.tracklist .track-download-link:hover,
.tracklist .track-download-link:focus {
	color: rgba(0, 0, 0, 0.88);
	text-decoration: none;
}

.tracklist .is-playable {
	cursor: pointer;
}

.tracklist .is-playable:before {
	display: inline-block;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;

	speak: none;
}

.tracklist .is-playable .track-duration {
	display: inline;
}

.tracklist .is-playing,
.tracklist .is-playing a {
	color: rgba(0, 0, 0, 0.88);
}

.tracklist .is-playing,
.tracklist .is-playing:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.touch .tracklist .is-playable:before {
	content: "\f452";
	font-family: "Genericons";
}

.touch .tracklist .is-playing:before {
	content: "\f448";
	font-family: "Genericons";
}

.no-touch .tracklist .is-playable:hover {
	background-color: rgba(0, 0, 0, 0.04);
	cursor: pointer;
}

.no-touch .tracklist .is-playable:hover:before {
	content: "\f452";
	font-family: "Genericons";
}

.no-touch .tracklist .is-playing {
	padding-bottom: 0.9375em;
}

.no-touch .tracklist .is-playing:hover .track-seek-bar {
	background-color: rgba(0, 0, 0, 0.18);
}

.no-touch .tracklist .is-playing .track-current-time,
.no-touch .tracklist .is-playing .track-sep-duration {
	display: inline;
}

.no-touch .tracklist .is-playing:before,
.no-touch .tracklist .is-playing:hover:before {
	content: "\f448";
	font-family: "Genericons";
}

.no-touch .tracklist .is-playing .track-progress,
.no-touch .tracklist .is-playing:hover .track-progress {
	display: block;
}

.no-touch .tracklist .track-meta {
	display: inline-block;
}


/* Tracklist Icons
-------------------------------------------------------------- */

.audiotheme-icon-play:before {
	content: "\f452";
	font-family: "Genericons";
}

.audiotheme-icon-pause:before {
	content: "\f448";
	font-family: "Genericons";
}

@media (min-width: 768px) {
	.tracklist-section {
		margin-left: 0;
		margin-right: 0;
	}
}


/**
 * Widgets
 * -----------------------------------------------------------------------------
 */

.widget .recent-posts-feed-link,
.widget .recent-posts-archive-link,
.widget .upcoming-gigs-archive-link {
	font-family: "Raleway", sans-serif;
	font-size: 0.8125em;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
}

.widget .recent-posts-archive-link,
.widget .upcoming-gigs-archive-link {
	color: rgba(0, 0, 0, 0.5);
}


/* AudioTheme: Recent Posts
------------------------------------------------------------------------------*/

.widget_recent_posts.show-excerpts .recent-posts-item-title {
	font-weight: 600;
	margin-bottom: 0.5em;
}

.widget_recent_posts.show-date .recent-posts-item {
	padding-bottom: 1.77777778em;
	position: relative;
}

.widget_recent_posts.show-date .recent-posts-item-title {
	letter-spacing: 0.025em;
}

.widget_recent_posts.show-date .recent-posts-item-date {
	position: absolute;
	bottom: 0;
}

.widget_recent_posts.show-date.show-excerpts .recent-posts-item {
	padding-bottom: 2.22222222em;
}

.widget_recent_posts .recent-posts-item:last-child {
	margin-bottom: 0;
}

.recent-posts-item-title {
	color: rgba(0, 0, 0, 0.73);
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.77777778;
	margin: 0;
	text-transform: none;
}

.recent-posts-feed-link {
	float: right;
}

.recent-posts-item-excerpt p {
	margin-bottom: 0;
}


/* AudioTheme: Record, Track, and Video
------------------------------------------------------------------------------*/

.widget_audiotheme_record .more a,
.widget_audiotheme_track .more a {
	color: #f00;
}

.widget_audiotheme_record p,
.widget_audiotheme_track p,
.widget_audiotheme_video p {
	margin-bottom: 0;
}

.widget_audiotheme_record p.featured-image,
.widget_audiotheme_track p.featured-image,
.widget_audiotheme_video p.featured-image {
	margin-bottom: 0.625em;
}

.widget_audiotheme_record .featured-image,
.widget_audiotheme_track .featured-image,
.widget_audiotheme_video .featured-image {
	display: block;
}


/* AudioTheme: Upcoming Gigs
------------------------------------------------------------------------------*/

.widget_audiotheme_upcoming_gigs footer {
	border-top: 1px solid rgba(0, 0, 0, 0.18);
	text-align: center;
}

.widget_audiotheme_upcoming_gigs .upcoming-gigs-archive-link {
	font-family: "Raleway", sans-serif;
	font-size: 0.8125em;
	text-transform: uppercase;
}

.widget_audiotheme_upcoming_gigs .upcoming-gigs-archive-link .icon {
	text-decoration: none;
}

.widget_audiotheme_upcoming_gigs .upcoming-gigs-no-results {
	margin-top: 1.11111111em;
}

.widget-area--main .widget_audiotheme_upcoming_gigs footer,
.widget-area--footer .widget_audiotheme_upcoming_gigs footer {
	padding-top: 1em;
	text-align: left;
}

.widget-area--main .widget_audiotheme_upcoming_gigs .arrow,
.widget-area--footer .widget_audiotheme_upcoming_gigs .arrow {
	display: none;
}


/**
 * Home Widgets
 * -----------------------------------------------------------------------------
 */

.widget-area--home .recent-posts-archive-link,
.widget-area--home .recent-posts-feed-link,
.widget-area--home .upcoming-gigs-archive-link {
	line-height: 2.46153846;
}

.widget-area--home .widget_recent_posts,
.widget-area--home .widget_audiotheme_upcoming_gigs {
	clear: both;
	margin-bottom: 3.33333333em;
}

.widget-area--home .widget_recent_posts .widget-title,
.widget-area--home .widget_audiotheme_upcoming_gigs .widget-title {
	border-bottom: 1px solid rgba(0, 0, 0, 0.18);
	font-weight: 600;
	padding: 0.875em 0;
}


/* Recent Posts Widget
------------------------------------------------------------------------------*/

.widget-area--home .widget_recent_posts {
	overflow: hidden;
}

.widget-area--home .widget_recent_posts .block-grid {
	clear: both;
	padding: 0 0 1px;
}

.widget-area--home .widget_recent_posts .block-grid-item {
	margin-bottom: 0;
	padding: 0;
}

.widget-area--home .widget_recent_posts .block-grid-item-title {
	font-family: "Raleway", sans-serif;
	word-wrap: break-word;
}

.widget-area--home .widget_recent_posts .block-grid-item-excerpt p {
	margin-bottom: 0;
}

.widget-area--home .widget_recent_posts.show-date .block-grid-item {
	padding-bottom: 4.44444444em;
	position: relative;
}

.widget-area--home .widget_recent_posts.show-date .block-grid-item-date {
	position: absolute;
	bottom: 1.66666667em;
}

.widget-area--home .widget_recent_posts.show-date:not(.show-excerpts) .block-grid-item {
	padding-bottom: 1.66666667em;
}

.widget-area--home .widget_recent_posts.show-date:not(.show-excerpts) .block-grid-item-date {
	position: relative;
	bottom: auto;
}

.widget-area--home .widget_recent_posts.show-excerpts .block-grid-item-title {
	margin-bottom: 0.5em;
}

.widget-area--home .recent-posts-wrapper {
	overflow: hidden;
}

.widget-area--home .recent-posts-links {
	display: none;
}

.widget-area--home .recent-posts-feed-link {
	color: #f90;
	margin-left: 1.15384615em;
}

.widget-area--home .recent-posts-feed-link:hover {
	text-decoration: none;
}

.widget-area--home .recent-posts-feed-link .icon:before {
	content: "\f413";
}

/* Recent Posts Post Type: Record */
.widget-area--home .post-type_audiotheme_record .block-grid-item-thumbnail:before {
	content: "\f109";
}

.widget-area--home .post-type_audiotheme_record .published {
	letter-spacing: 0.2em;
}

/* Recent Posts Post Type: Video */
.widget-area--home .post-type_audiotheme_video .block-grid-item-thumbnail:before {
	content: "\f104";
}


/* Upcoming Gigs
------------------------------------------------------------------------------*/

.widget-area--home .widget_audiotheme_upcoming_gigs footer {
	padding: 0.88888889em 0;
}

.widget-area--home .gig-card:first-of-type {
	border-top-width: 0;
}

.widget-area--home .upcoming-gigs-archive-link .icon {
	display: inline-block;
	font-size: 1.38461538em;
	line-height: 1.77777778;
	margin-left: 0.27777778em;
}

.widget-area--home .upcoming-gigs-archive-link .icon:before {
	content: "\f432";
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

@media (min-width: 801px) {
	.widget-area--home .widget_recent_posts .widget-title,
	.widget-area--home .widget_audiotheme_upcoming_gigs .widget-title {
		font-size: 1.625em;
		line-height: 1.23076923;
		margin-bottom: 0;
		padding: 0.53846154em 0;
	}

	.widget-area--home .recent-posts-links {
		display: inline-block;
		position: absolute;
		top: 0.77777778em;
		right: 1.11111111em;
	}

	.widget-area--home .widget_recent_posts {
		width: 100%;
	}

	.widget-area--home .widget_recent_posts .block-grid {
		margin-left: -20px;
		margin-right: -20px;
	}

	.widget-area--home .widget_recent_posts .block-grid-item {
		border: solid rgba(0, 0, 0, 0.18);
		border-width: 0 1px 1px 0;
		padding: 20px;
	}

	.widget-area--home .widget_recent_posts .block-grid-item:last-child {
		border-right-color: transparent;
	}

	.widget-area--home .widget_audiotheme_upcoming_gigs {
		width: 100%;
	}
}

@media (min-width: 1100px) {
	.widget-area--home .widget_recent_posts .block-grid {
		margin-left: -40px;
		margin-right: -40px;
	}

	.widget-area--home .widget_recent_posts .block-grid-item {
		padding: 40px;
	}
}
